<%= form_for [@course_class, @enrollment] do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clearfix">
    <%= select("post", "person_id", Person.all.collect {|p| [ "#{p.name} - #{p.cpf}", p.id ] }, {:prompt => 'Person...'}, :class => 'chosen', :style => 'width: 300px;') %>
  </div>
  <div class="actions">
    <%= f.submit "Matricular", :class => 'btn primary' %>
  </div>
<% end %>
