  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="clearfix">
    <%= f.label :cpf %>
    <div class="input">
      <%= f.text_field :cpf %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :sex %>
    <div class="input">
      <%= f.text_field :sex %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :birth_date %>
    <div class="input">
      <%= f.text_field :birth_date %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :parents %>
    <div class="input">
      <%= f.text_field :parents %>
    </div>
  </div>
