
<div class="people">
	<div class="container">
		<table>
		  <tr>
		    <th>Cpf</th>
		    <th>Name</th>
		    <th>Email</th>
		    <th>Sex</th>
		    <th>Birth date</th>
		    <th>Parents</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>

		<% @people.each do |person| %>
		  <tr>
		    <td><%= person.cpf %></td>
		    <td><%= person.name %></td>
		    <td><%= person.email %></td>
		    <td><%= person.sex %></td>
		    <td><%= person.birth_date %></td>
		    <td><%= person.parents %></td>
		    <td><%= link_to 'Show', person %></td>
		    <td><%= link_to 'Edit', edit_person_path(person) %></td>
		    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
		
		<%= will_paginate @people %>

		<%= link_to 'New Person', new_person_path %>
	</div>
</div>
