<p id="notice"><%= notice %></p>

<p>
  <b>Cpf:</b>
  <%= @person.cpf %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Sex:</b>
  <%= @person.sex %>
</p>

<p>
  <b>Birth date:</b>
  <%= @person.birth_date %>
</p>

<p>
  <b>Parents:</b>
  <%= @person.parents %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
