<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <h3><%= link_to "ItcursosEad", root_path %></h3>
        <ul class="nav">
          <li <%= controller.controller_name == 'people' ? 'class=\'dropdown active\'' : 'class="dropdown"' %>>
            
            <a href="#" class="dropdown-toggle">People</a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Person", new_person_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Listar", people_path %></li>
            </ul>
          </li>
	      <li <%= "class=active" if controller.controller_name == 'courses' or controller.controller_name == 'course_classes'  %> ><%= link_to "Cursos", courses_path %></li>
        <li <%= "class=active" if controller.controller_name == 'locations' %> ><%= link_to "Unidades", locations_path %></li>
	      <li></li>
	    </ul>
      <ul class="status">
        <% if user_signed_in? %>
          <span>Signed in as
          <em><%= current_user.username %></em></span>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <span>or</span>
          <li>
            <%= link_to "Sign_in", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
